<div id="home-card" class="row">
    <div class="col s12 m11">
        <div class="card-panel white">
            <span class="default-text"> 
            <h1>Imposter Syndrome</h1>
            <h2><i>noun</i>    im·pos·tor syn·drome<br>\im-ˈpäs-tər\ \ˈsin-ˌdrōm also -drəm\</h2>
            <h5>Imposter syndrome can be defined as a collection of feelings of inadequacy that persist despite evident success.</h5>
            </span>
        </div>
   </div>
</div>

<div id="home-card" class="row">
    <div class="col s12 m11">
        <div class="card-panel white">
            <span class="default-text"> 
            <h1>About</h1>
            <p>Imposter.me is a forum for sharing personal struggles and successes centered around living with imposter syndrome. When struggling with imposter syndrome it is easy to feel isolated and give up. This website is devoted to creating a community and providing encouragement because you are not an imposter, you belong, and you are amazing!</p>
            </span>
        </div>
   </div>
</div>
