<!-- to get to this view, you need to go to /resources/show  HARDCODE HARDCORE-->
<h1>Resources</h1>

<article>
    <a href="https://www.youtube.com/watch?v=1i8ylq4j_EY">
        <div class="row">
            <div class="col s12 m5">
                <div class="card">
                    <div class="card-image">
                        <img src="https://i.ytimg.com/vi/1i8ylq4j_EY/maxresdefault.jpg">
                    </div>
                    <div class="card-content">
                        <p>Julie Pagano: It's Dangerous to Go Alone: Battling the Invisible Monsters in Tech - PyCon 2014</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</article>

<article>
    <a href="http://startupbros.com/21-ways-overcome-impostor-syndrome">
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="http://3vxsjq3roj103wlhf71jhh7t.wpengine.netdna-cdn.com/wp-content/uploads/2014/09/impostor-syndrome-cartoon-823x1024.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>21 Proven Ways To Overcome Imposter Syndrome</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</article>

<article>
    <a href="https://hbr.org/2008/05/overcoming-imposter-syndrome/">
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="https://hbr.org/resources/css/images/HBR_logo_gray.svg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>Overcoming Imposter Syndrome</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</article>

<article>
    <a href="https://medium.com/@Bosefina/confessions-of-a-pm-10-ways-to-disarm-the-impostor-syndrome-6219242a79bb#.qmvi1fkhc">
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="https://cdn-images-1.medium.com/max/800/1*PFdzDdbE52rKOvF7Sjm8CQ.png">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>Confessions of a PM: 7 Ways to Disarm the Imposter Syndrome</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</article>

<article>
    <a href="https://www.youtube.com/watch?v=Ks-_Mh1QhMc">
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="http://1.bp.blogspot.com/-naMKd_2s6AE/UYBd_mW14RI/AAAAAAAAAFI/7h51r_-x3Vk/s1600/tumblr_m6rks6Gx731qikpxao1_1280.jpg">
                    </div>
                    <div class="card-content">
                        <p>Your Body Language Shapes Who You Are | Amy Cuddy | TED Talks</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</article>
